
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, 24px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.template {
  width: 100vw;
  height: 90vh;
  position: relative;
}

.template h1 {
  margin: 0;
}

/* INTRODUCTION PAGE */
.intro {
  color: #ffffff;
  font-family: 'Righteous', cursive;
  font-size: 10rem;
  background-color: blue;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introContent {
  font-family: 'Righteous', cursive;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  animation: fadein 1.5s 0.5s both cubic-bezier(.17,.67,.9,.33);
}

/* DAY ONE CONTENT */
.one {
  height: 180vh;
  background-color: #faf9f9;
  align-items: center;
  justify-content: center;
  padding: 300px 150px 300px 150px;
}

#just {
  width: 80%;
  height: 120vh;
  line-height: 22rem;
  font-family: 'Paytone One', sans-serif;
  color: #ff0A54;
  font-size: 26rem;
  opacity: 60%;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  position: absolute;
}

#somewhere {
  font-family: 'Pacifico', cursive;
  color: #080808;
  font-size: 10rem;
  transform: rotate(-4deg);
  margin: 0 auto;
  position: relative;
  top: 280px;
  left: 300px;
}

.number1 {
  position: absolute;
  top: -80px;
  right: 47%;
  width: 200px;
  height: 200px;
  background-color: #faf9f9;
  border-radius: 100%;
  z-index: 1;
  opacity: 100%;
}

.number1 h2 {
  color: #ff0A54;
  opacity: 60%;
  margin: 40px auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

@media (max-width : 640px) {
 .one {
   height: 120vh;
   padding: 200px 20px 50px 20px;
 }
 #just {
   font-size: 9rem;
   line-height: 8rem;
 }
 #somewhere {
   font-size: 3rem;
   top: 100px;
   left: 120px;
 }
}

/* DAY TWO CONTENT */

.two {
  background-color: papayawhip;
  color: rebeccapurple;
  font-size: 50px;
  position: relative;
}

.number2 {
  position: absolute;
  top: -80px;
  right: 47%;
  width: 200px;
  height: 200px;
  background-color: papayawhip;
  border-radius: 100%;
  z-index: 1;
  opacity: 100%;
}

.number2 h2 {
  color: red;
  margin: 40px auto;
  text-align: center;
  font-size: 4rem;
}

.three {
  background-color: lightblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rebeccapurple;
  font-size: 50px;
  position: relative;
}

.number3 {
  position: absolute;
  top: -80px;
  right: 47%;
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border-radius: 100%;
  z-index: 1;
  opacity: 100%;
}

.number3 h2 {
  color: red;
  margin: 40px auto;
  text-align: center;
  font-size: 4rem;
}

.four {
  background: #203;
  font-size: 50px;
  position: relative;
}

.four h1 {
  background: #203;
  color: #ffc;
  text-shadow: 0 0 .1em, 0 0 .3em;
  padding: 200px;
}

.number4 {
  position: absolute;
  top: -80px;
  right: 47%;
  width: 200px;
  height: 200px;
  background-color: #203;
  border-radius: 100%;
  z-index: 1;
  opacity: 100%;
}

.number4 h2 {
  color: red;
  margin: 40px auto;
  text-align: center;
  font-size: 4rem;
}

.five {
  color: blue
  background-color: rosybrown;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rebeccapurple;
  font-size: 50px;
  position: relative;
}

.number5 {
  position: absolute;
  top: -80px;
  right: 47%;
  width: 200px;
  height: 200px;
  background-color: #203;
  border-radius: 100%;
  z-index: 1;
  opacity: 100%;
}

