
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, 24px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* INTRODUCTION PAGE */
.intro {
  color: #ffffff;
  font-family: 'Righteous', cursive;
  font-size: 10rem;
  background-color: blue;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introContent {
  font-family: 'Righteous', cursive;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  animation: fadein 1.5s 0.5s both cubic-bezier(.17,.67,.9,.33);
}

/* DAY ONE CONTENT */

.number1 {
  position: absolute;
  top: -80px;
  right: 47%;
  width: 200px;
  height: 200px;
  background-color: #faf9f9;
  border-radius: 100%;
  z-index: 1;
  opacity: 100%;
}


.number1 h2 {
  color: #ff0A54;
  opacity: 60%;
  margin: 40px auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

.one {
  height: 180vh;
  background-color: #faf9f9;
  align-items: center;
  justify-content: center;
  padding: 300px 150px 300px 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.set {
  z-index: 1;
  padding-top: 10%;
}

.set p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.set p a {
  text-decoration: none;
}

#just {
  line-height: 22rem;
  font-family: 'Paytone One', sans-serif;
  color: #ff0A54;
  font-size: 26rem;
  opacity: 60%;
}

#somewhere {
  font-family: 'Pacifico', cursive;
  color: #080808;
  font-size: 10rem;
  transform: rotate(-4deg);
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

/* DAY ONE media queries */
@media (max-width : 640px) {
.one {
  height: 120vh;
  padding: 200px 20px 50px 20px;
}
#just {
  font-size: 9rem;
  line-height: 8rem;
}
#somewhere {
  font-size: 3rem;
  top: 100px;
  left: 120px;
}
}

/* DAY TWO CONTENT */
.number2 {
  position: absolute;
  top: -80px;
  right: 50%;
  width: 200px;
  height: 200px;
  background-color: #FFFF00;
  border-radius: 100%;
  opacity: 100%;
  z-index:0;
}

.number2 h2 {
  color: rebeccapurple;
  margin: 10% auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

.two {
  height: 160vh;
  align-items: center;
  justify-content: center;
  background-color: #FFFF00;
  position: relative;
}

.para {
  text-align: center;
  padding-top: 200px;
}

.two p {
  color: rebeccapurple;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  font-size: 4rem;
}

#red {
  color: red;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.set p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-bottom: 100px;
}

/* DAY TWO media queries */
@media (max-width : 1000px) {
  .two {
    height: 120vh;
    padding: 30% 10% 20% 10%;
  }
  .two p {
    font-size: 2rem;
  }
}

.three {
  background-color: #ffccef;
  color: #024e7d;
  font-size: 50px;
  height: 140vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 120px;
}

.three #sunday {
  font-family: 'Rampart One', cursive;
  font-size: 20rem;
  padding-top: 20%;
}

.number3 {
  position: relative;
  top: -80px;
  right: 47%;
  width: 200px;
  height: 200px;
  background-color: #ffccef;
  border-radius: 100%;
  z-index: 0;
  opacity: 100%;
}

.number3 h2 {
  color: #024e7d;
  margin: 40px auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

/* DAY FOUR CONTENT */

.four {
  height: 100vh;
  position: relative;
}

.circular path {
  fill: none;
}

.circular {
  width: 20em;
  height: 20em;
  margin: 20em auto 0;
  font-size: 1.1em;
  font-family: 'Libre Baskerville', serif;
}

.circular svg {
  display: block;
  overflow: visible;
}

.number4 {
  position: absolute;
  top: -440px;
  right: 45%;
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 100%;
}

.number4 h2 {
  color: #000000;
  margin: 40px auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}


.five {
  background-color: #f7f3e9;
  color: #183a37;
  font-size: 50px;
  height: 140vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 120px;
}

.topContainer {
  padding-top: 500px;
}

#coffee {
  font-family: 'Bebas Neue', cursive;
  font-size: 20rem;
}

#bagel {
  font-family: 'Great Vibes', cursive;
  font-size: 10rem;
  padding-top: 4%;
}

.number5 {
  position: absolute;
  top: -80px;
  right: 45%;
  width: 200px;
  height: 200px;
  background-color: #f7f3e9;
  border-radius: 100%;
}

.number5 h2 {
  color: #183a37;
  margin: 40px auto;
  text-align: center;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

.five p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 400px;
}

.six {
  background-color: #264653;
  height: 200vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.six h1 {
  color: #dcf763;
  font-size: 10rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.topSix {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  padding-top: 500px;
}

.six p {
  color: #ffffff;
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 200px;
}

.six span {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
}

.seven {
  background-color: #e6f0ec;
  height: 200vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.seven h1 {
  color: #1b263b;
  font-size: 8rem;
  font-family: 'Cardo', serif;
  font-weight: 200;
}

#rest {
  font-family: 'Fredoka One', cursive;
  font-size: 20rem;
}

#part {
  padding-top: 200px;
}

.topSeven {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  padding-top: 500px;
}

.seven p {
  color: #1b263b;
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 600px;
}

.seven a {
  text-decoration: none;
}


.eight {
  background-color: #400094;
  height: 200vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.eight h1 {
  color: #00ff00;
  font-size: 45rem;
  font-family: 'Cardo', serif;
  font-weight: 200;
  letter-spacing: 30px;
  font-family: 'Monoton', cursive;
}

#tg span {
  letter-spacing: -10px;
}

.topEight{
  width: 50%;
  text-align: left;
  margin: 0 auto;
  padding-top: 500px;
}

.eight p {
  color: #f2eef6;
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 600px;
}

.eight a {
  text-decoration: none;
}


.nine {
  background-color: #ebf2fa;
  height: 140vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nine h1 {
  color: #679436;
  font-size: 18rem;
  font-family: 'Bungee', cursive;
}

.bottomContainer h1 {
  font-family: 'Gruppo', cursive;
  color: #a5be00;
  font-size: 10rem;
  letter-spacing: 10px;
  transform: rotate(0.5turn);
  padding-top: 400px;
}

.nineContent {
  padding-top: 20%;
  z-index: 1;
}

.nine p {
  color: #679436;
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 400px;
}

.nine a {
  text-decoration: none;
}

